
.beacon-group.limit-width {
  max-width: 950px;
}

.grp-input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  color: inherit;
  text-align: center;
  cursor: pointer;
}

